.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.content-area {
    
    background-color: #2e2e2e;
    color: #f0f0f0; 
  }
.sidebar .navbar-brand {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
}

.sidebar .nav {
    flex-direction: column;
    width: 100%;
}

.sidebar .nav-link {
    position: relative;
    padding-left: 1.5rem; 
    color: #d7d7d7;
    width: 100%;
    display: block;
    background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
}

.sidebar .nav-link::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: #d7d7d7;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.6s;
}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    background-size: 100%; /* Ensure the active link is fully filled */
}

.sidebar .nav-link:hover {
    background-size: 100%;
}

.sidebar .nav-link:hover::before {
    left: calc(100% + 1rem);
}

.sidebar .nav-link:nth-child(1) {
    --menu-link-active-color: var(--primary-color);
}

.sidebar .nav-link:nth-child(2) {
    --menu-link-active-color: var(--info-color);
}

.sidebar .nav-link:nth-child(3) {
    --menu-link-active-color: var(--success-color);
}

.sidebar .nav-link:nth-child(4) {
    --menu-link-active-color: var(--warning-color);
}

.sidebar .nav-link:nth-child(5) {
    --menu-link-active-color: var(--danger-color);
}